.calculated-page-manager {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5.4rem;
    padding: 0px 2.2rem;
}

.left-section {
    width: 35rem;
}

.calculate-area,
.choose-product-area {
    background-color: #F8F8F8;
    border-radius: 1.2rem;
    height: 40rem;
    margin-top: 0.75rem;
}

.calculate-area {
    padding: 1.75rem 1rem 0px 1rem;
    position: relative;
}

.calculate-area .header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0px 1rem 1.75rem 1rem;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.group-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0px 2.5rem 0px 1.5rem;
}

.calculate-area .header .header-item p {
    background-image: linear-gradient(135deg, #087EE1, #60DFCD);
    border-radius: 0.7rem;
    padding: 0.7rem 1rem;
}

.calculate-area .content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 18rem;
    overflow: scroll;
}

.calculate-area .content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    border-radius: 10px;
    background-color: transparent;
}

.calculate-area .content::-webkit-scrollbar {
    width: 0px;
    height: 2px;
    background-color: transparent;
}

.calculate-area .content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    background-color: #45B9D5;
}

.item-tile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EBEFF8;
    height: auto;
    padding: 1.25rem;
    border-radius: 1rem;
    gap: 1rem;
}

.item-tile .number {
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    color: #56D4D5;
}


/* 
.item-tile .product-info {
    width: 1rem;
} */

.item-tile .product-info .name {
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    color: #1E9AFE;
    width: 12rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-tile .product-info .sku {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    color: #45B9D5;
}

.quantity {
    display: flex;
    align-items: baseline;
}

.quantity .minus,
.quantity .plus {
    background-color: transparent;
    border: none;
}

.quantity .quantity-number {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    color: #1E9AFE;
}

.quantity .minus i,
.quantity .plus i {
    color: #45B9D5;
    font-size: 1.5rem;
    margin: 0px 0.75rem;
}

.price .main-price {
    font-family: 'Roboto', sans-serif;
    color: #1E9AFE;
    font-size: 2rem;
}

.price .secondary-price {
    font-family: 'Roboto', sans-serif;
    color: #45B9D5;
    text-decoration: line-through;
    font-size: 1rem;
}

.calculated-detail {
    position: absolute;
    bottom: 3rem;
    right: 0.7rem;
    left: 0.7rem;
    height: 14rem;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding: 2rem 1.2rem;
    overflow: scroll;
    justify-content: space-around;
}

.calculated-detail::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    border-radius: 10px;
    background-color: transparent;
}

.calculated-detail::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background-color: transparent;
}

.calculated-detail::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    background-color: #1E9AFE;
}

.grp-detail {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    width: 30.5rem;
}

.detail-item {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    width: 14rem;
}

.detail-title {
    color: #585858;
}

.detail-content {
    display: flex;
    color: #1E9AFE;
    text-align: right;
    align-items: center;
}

.voucher-btn {
    background-image: linear-gradient(135deg, #1E9AFE, #60DFCD);
    border: rgba(0, 0, 0, 0);
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    color: #fff;
    font-size: 0.75rem;
    font-family: 'Roboto', sans-serif;
    white-space: nowrap;
    height: 2.2rem;
    text-align: center;
    padding: 1rem;
    display: flex;
    align-items: center;
}

.voucher-txt {
    width: 5rem;
    height: 2.2rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border: 0.1px solid #888888;
    border-left: none;
    text-align: right;
    color: #1E9AFE;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
}

.received-txt,
.voucher-txt:focus {
    outline: none;
}

.received-txt {
    width: 5rem;
    height: 2.2rem;
    border-radius: 0.5rem;
    border: 0.1px solid #888888;
    text-align: right;
    color: #1E9AFE;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
}


/* Chrome, Safari, Edge, Opera */

.received-txt::-webkit-outer-spin-button,
.received-txt::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

.received-txt[type=number] {
    -moz-appearance: textfield;
}

.bill-manager {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    gap: 0.5rem;
}

.refresh-btn,
.add-bill-btn {
    border: rgba(0, 0, 0, 0);
    width: 3rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    color: #fff;
    font-size: 1.2rem;
}

.bill-btn-manager {
    display: flex;
    flex-wrap: nowrap;
    width: 80%;
    overflow-x: scroll;
    gap: 0.5rem;
}

.bill-btn-manager::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    border-radius: 10px;
    background-color: transparent;
}

.bill-btn-manager::-webkit-scrollbar {
    height: 0px;
    background-color: transparent;
}

.bill-btn-manager::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    background-color: rgb(59, 59, 59);
}

.bill-btn {
    background-image: linear-gradient(45deg, #4884EE, #06BCFB);
    border: rgba(0, 0, 0, 0);
    border-radius: 0.5rem;
    border-bottom-left-radius: 1.3rem;
    color: #fff;
    font-size: 0.75rem;
    font-family: 'Roboto', sans-serif;
    white-space: nowrap;
    height: 2.3rem;
    text-align: center;
    padding: 1rem;
    display: flex;
    align-items: center;
}

.bill-btn:hover,
.bill-btn:focus {
    background-image: linear-gradient(45deg, #b621fe, #1fd1f9);
}

.add-bill-btn {
    background-image: linear-gradient(45deg, #1E9AFE, #60DFCD);
    border-bottom-right-radius: 1.3rem;
}

.refresh-btn {
    background-image: linear-gradient(145deg, #60DFCD, #1E9AFE);
    border-bottom-left-radius: 1.3rem;
}

.choose-product-area {
    padding: 1.75rem 3.25rem;
}

.choose-product-area .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.5rem;
    align-items: center;
}

.filter-btn {
    border: none;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.2rem;
    color: #EBEFF8;
    background-image: linear-gradient(155deg, #1E9AFE, #60DFCD);
    border-radius: 0.6rem;
}

.search-area {
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.search-area input {
    height: 2.5rem;
    width: 15rem;
    border-top-left-radius: 0.7rem;
    border-bottom-left-radius: 0.7rem;
    outline: none;
    border: 0.1rem solid #45B9D5;
    padding: 0.3rem 0.75rem;
}

.search-btn {
    border: none;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.2rem;
    color: #EBEFF8;
    background-image: linear-gradient(225deg, #1E9AFE, #60DFCD);
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.choose-product-area .content {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1.2rem;
    height: 93%;
    overflow-y: scroll;
    overflow-x: scroll;
}

.choose-product-area .content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    border-radius: 10px;
    background-color: transparent;
}

.choose-product-area .content::-webkit-scrollbar {
    width: 0px;
    height: 3px;
    background-color: transparent;
}

.choose-product-area .content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    background-color: #1E9AFE;
}

.card-border {
    position: relative;
    background-image: linear-gradient(135deg, #1E9AFE, #60DFCD);
    padding: 0.2rem;
    border-radius: 1rem;
    width: 19rem;
    height: fit-content;
}

.choose-product-area .content .card-wrapper {
    position: relative;
    background-color: #fff;
    border-radius: 0.75rem;
    height: auto;
    z-index: 2;
    padding: 0.75rem 1.25rem;
    width: 18.6rem;
}

.choose-product-area .content .card-wrapper .card-img {
    height: 10rem;
}

.choose-product-area .content .card-wrapper .card-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.card-title,
.card-sku {
    font-family: 'Roboto', sans-serif;
    width: 15rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-title {
    color: #1E9AFE;
    font-size: 2rem;
}

.card-sku {
    color: #45B9D5;
    font-size: 1rem;
}