<div class="calculated-page-manager">
    <!--Begin calc area -->
    <div class="left-section">
        <div class="calculate-area">
            <!-- Header of calc area -->
            <div class="header">
                <div class="header-item">
                    <p>#</p>
                </div>
                <div class="group-header">
                    <div class="header-item">
                        <p>Name</p>
                    </div>
                    <div class="header-item">
                        <p>Quantity</p>
                    </div>
                </div>
                <div class="header-item">
                    <p>Price</p>
                </div>
            </div>
            <!-- End header of calc area -->
            <!-- Begin content -->

            <div class="content" cdkDropList (cdkDropListDropped)="drop($event)">
                <!-- Begin tile -->
                <div cdkDragLockAxis="y" cdkDrag class="item-tile" id="tile" *ngFor="let item of tileList; let j = index">
                    <div class="number">{{j + 1}}</div>
                    <div class="product-info">
                        <p class="name">{{item.name }}</p>
                        <p class="sku">{{item.sku}}</p>
                    </div>
                    <div class="quantity">
                        <button class="minus" (click)="decreaseQuantity(item)">
                            <i class="fas fa-minus"></i>
                        </button>
                        <span class="quantity-number"><input type="number" value="{{item.quantity}}"></span>
                        <button class="plus" (click)="increaseQuantity(item)">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                    <div class="price">
                        <p class="main-price">{{item.unitPrice*item.quantity | currency:'USD'}}</p>
                        <p class="secondary-price">{{item.prePrice*item.quantity | currency:'USD'}}</p>
                    </div>
                </div>
                <!-- End tile -->
                <!-- Begin bill detail -->
                <div class="calculated-detail">
                    <div class="grp-detail">
                        <div class="detail-item">
                            <div class="detail-title">Temporary</div>
                            <div class="detail-content">$424</div>
                        </div>

                        <div class="detail-item">
                            <div class="detail-title">Voucher</div>
                            <div class="detail-content">
                                <button class="voucher-btn"><i class="fas fa-percent"></i></button>
                                <input type="text" class="voucher-txt">
                            </div>
                        </div>
                    </div>
                    <div class="grp-detail">
                        <div class="detail-item">
                            <div class="detail-title">Total</div>
                            <div class="detail-content">$412</div>
                        </div>

                        <div class="detail-item">
                            <div class="detail-title">Discount</div>
                            <div class="detail-content">$12</div>
                        </div>
                    </div>
                    <div class="grp-detail">
                        <div class="detail-item">
                            <div class="detail-title">Received</div>
                            <div class="detail-content">
                                <span>$</span><input type="number" class="received-txt">
                            </div>
                        </div>

                        <div class="detail-item">
                            <div class="detail-title">Change</div>
                            <div class="detail-content">$38</div>
                        </div>
                    </div>
                </div>
                <!-- End bill detail -->
            </div>
            <!-- End content -->

        </div>

    </div>
    <!--End calc area -->
</div>