.calculated-page-manager {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5.4rem;
    padding: 0px 2.2rem;
}

.left-section {
    width: 35rem;
}

.calculate-area,
.choose-product-area {
    background-color: #F8F8F8;
    border-radius: 1.2rem;
    height: 40rem;
    margin-top: 0.75rem;
}

.calculate-area {
    padding: 1.75rem 1rem 0px 1rem;
    position: relative;
}

.calculate-area .header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0px 1rem 1.75rem 1rem;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-weight: 700;
}

.group-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0px 4rem 0px 1.5rem;
}

.calculate-area .header .header-item p {
    background-image: linear-gradient(135deg, #087EE1, #60DFCD);
    border-radius: 0.7rem;
    padding: 0.7rem 1rem;
}

.calculate-area .content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 18rem;
    overflow: scroll;
}

.calculate-area .content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    border-radius: 10px;
    background-color: transparent;
}

.calculate-area .content::-webkit-scrollbar {
    width: 0px;
    height: 2px;
    background-color: transparent;
}

.calculate-area .content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    background-color: #45B9D5;
}

.item-tile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EBEFF8;
    height: auto;
    padding: 1.25rem;
    border-radius: 1rem;
    gap: 1rem;
    font-weight: 700;
}

.item-tile .number {
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    color: #56D4D5;
    margin: 0;
}


/* 
.item-tile .product-info {
    width: 1rem;
} */

.item-tile .product-info .name {
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    color: #1E9AFE;
    width: 12rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

.item-tile .product-info .sku {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    color: #45B9D5;
    margin: 0;
}

.quantity {
    display: flex;
    align-items: flex-end;
}

.quantity .minus,
.quantity .plus {
    background-color: transparent;
    border: none;
    color: #45B9D5;
    font-size: 1.5rem;
    margin: 0px 0.5rem;
}

.quantity .quantity-number {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    color: #1E9AFE;
}

.quantity .quantity-number input {
    display: block;
    border: none;
    padding: 0;
    max-width: 3rem;
    background: none;
    letter-spacing: 0ch;
    font-size: 1.75rem;
    color: #1E9AFE;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.quantity .quantity-number input:focus {
    outline: none;
}


/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}

.price .main-price {
    font-family: 'Roboto', sans-serif;
    color: #1E9AFE;
    font-size: 1.5rem;
    margin: 0;
}

.price .secondary-price {
    font-family: 'Roboto', sans-serif;
    color: #45B9D5;
    text-decoration: line-through;
    font-size: 1rem;
    margin: 0;
}

.calculated-detail {
    position: absolute;
    bottom: 3rem;
    right: 0.7rem;
    left: 0.7rem;
    height: 8rem;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding: 2rem 1.2rem;
    overflow: scroll;
    justify-content: space-around;
}

.calculated-detail::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    border-radius: 10px;
    background-color: transparent;
}

.calculated-detail::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background-color: transparent;
}

.calculated-detail::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    background-color: #1E9AFE;
}

.grp-detail {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    width: 30.5rem;
    font-weight: 700;
}

.detail-item {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    width: 14rem;
}

.detail-title {
    color: #585858;
}

.detail-content {
    display: flex;
    color: #1E9AFE;
    text-align: right;
    align-items: center;
}

.voucher-btn {
    background-image: linear-gradient(135deg, #1E9AFE, #60DFCD);
    border: rgba(0, 0, 0, 0);
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    color: #fff;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    white-space: nowrap;
    height: 2.2rem;
    text-align: center;
    padding: 1.22rem 1rem;
    display: flex;
    align-items: center;
}

.voucher-txt {
    width: 5rem;
    height: 2.2rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border: 0.1px solid #888888;
    border-left: none;
    text-align: right;
    color: #1E9AFE;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
}

.received-txt,
.voucher-txt:focus {
    outline: none;
}

.received-txt {
    width: 5rem;
    height: 2.2rem;
    border-radius: 0.5rem;
    border: 0.1px solid #888888;
    text-align: right;
    color: #1E9AFE;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
}


/* Chrome, Safari, Edge, Opera */

.received-txt::-webkit-outer-spin-button,
.received-txt::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

.received-txt[type=number] {
    -moz-appearance: textfield;
}

@media screen and (max-width: 1080px) {
    .calculated-page-manager {
        margin-left: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}