.side-bar {
    z-index: 9;
    position: fixed;
    width: 85px;
    overflow: hidden;
    top: 0;
    left: 0;
    bottom: 0;
    box-sizing: initial;
    background-image: linear-gradient(#087EE1, #60DFCD);
    transition: ease-in-out all 0.5s;
    overflow-y: scroll;
    overflow-x: hidden;
}

.side-bar::-webkit-scrollbar {
    width: 0px;
}

.side-bar.active {
    z-index: 9;
    width: 300px;
    transition: ease-in-out all 0.5s;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    transition: ease-in-out all 0.5s;
}

.side-bar ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 85px;
    padding-left: 0;
}

.side-bar ul li {
    position: relative;
    list-style: none;
    width: 100%;
}

.side-bar ul li.active {
    background-color: rgba(0, 0, 0, 0.4);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.side-bar ul li a {
    position: relative;
    display: flex;
    width: 100%;
    text-decoration: none;
    color: #fff;
    font-family: 'Be Vietnam Pro', sans-serif;
    align-items: center;
    padding-left: 20px;
}

.side-bar ul li a .icon {
    position: relative;
    display: block;
    min-width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 2.5rem;
}

.side-bar ul li a .title {
    position: relative;
    display: block;
    padding-left: 10px;
    font-size: 1.3rem;
}

@media screen and (max-width: 1080px) {
    .side-bar {
        width: 0px;
        background-image: linear-gradient(#F2F6FF, #F2F6FD);
    }
    .side-bar ul li a .icon {
        position: relative;
        display: block;
        min-width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 1.5rem;
        color: #087EE1;
    }
    .side-bar ul li a .title {
        position: relative;
        display: block;
        font-size: 1rem;
        color: #087EE1;
    }
    .side-bar.active {
        border-top-right-radius: 0rem;
        border-bottom-right-radius: 0rem;
    }
    .side-bar ul li.active {
        background-color: rgba(200, 200, 200, 0.4);
    }
}