<div class="side-bar" id="side-bar-wide">
    <ul>
        <li class="feature">
            <a href="/calculate">
                <span class="icon "><i class="fa-solid fa-cash-register "></i></span>
                <span class="title ">Calculated</span>
            </a>
        </li>
        <li class="feature ">
            <a routerLink="/statistic">
                <span class="icon "><i class="fas fa-chart-bar "></i></span>
                <span class="title ">Statistic</span>
            </a>
        </li>
        <li class="feature ">
            <a routerLink="/inventory">
                <span class="icon "><i class="fas fa-cubes "></i></span>
                <span class="title ">Inventory</span>
            </a>
        </li>

        <li class="feature ">
            <div class="dropdown">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="icon "><i class="fas fa-list-ol "></i></span>
                    <span class="title ">Manage List</span>
                </a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item bg-transparent" href="/brand">Brand</a></li>
                    <li><a class="dropdown-item bg-transparent" href="/class">Class</a></li>
                    <li><a class="dropdown-item bg-transparent" href="#">Task</a></li>
                </ul>
            </div>
        </li>
    </ul>
</div>