.app-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.toggle {
    display: flex;
    width: 85px;
    height: 85px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    z-index: 10;
    font-size: 1.8rem;
    color: #F2F6FF;
    left: -0.5%;
}

.toggle .close {
    display: none;
}

.logo {
    width: 15rem;
    margin: 0;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%, 0%);
    padding: 10px;
}

.logo img {
    width: 100%;
}

.sign-in-area {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    right: 0;
    top: 0;
    font-weight: 700;
}

.employee-info .name {
    color: #1E9AFE;
    margin: 0;
}

.employee-info .position {
    color: #45B9D5;
    margin: 0;
}

.toggle .open,
.toggle.active .close {
    display: block;
    animation: fade-out 0.5s ease;
}

.toggle .close,
.toggle.active .open {
    display: none;
    animation: fade-out 0.5s ease;
}

@media screen and (max-width: 1080px) {
    .toggle {
        color: #087EE1;
        left: -2%;
    }
    .employee-info .name {
        display: none;
    }
    .employee-info .position {
        display: none;
    }
}