<div class="app-bar">
    <div class="toggle" id="toggler">
        <i class="fa fa-bars" aria-hidden="true"></i>
        <i class="fa fa-times" aria-hidden="true"></i>
    </div>
    <div class="logo">
        <img src="../../assets/images/logo.svg" alt="">
    </div>
    <div class="sign-in-area">
        <i class="fa fa-bell-o" aria-hidden="true" style="font-size: 2rem; margin-right: 30px; color: #222;"></i>
        <i class="fa fa-user-circle" aria-hidden="true" style="font-size: 4rem; color: #1E9AFE; margin-right: 8px;"></i>
        <div class="employee-info">
            <p class="name">Nguyen Nam...</p>
            <p class="position">Manager</p>
        </div>
    </div>
</div>