<!-- main -->

<div class="inventory-page-manager">
    <div class="inventory-header">
        <div class="left-btns">
            <button class="add-btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="addClick()">
                <img src="../../../assets/images/inventory-icon/add-icon.svg" alt="">
                Add item
            </button>
        </div>
        <div class="search-area">
            <input type="text" name="search" [(ngModel)]="searchText" placeholder="Searching..." />
            <button class="search-btn">
                <i class="fab fa-sistrix"></i>
            </button>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{ModalTitle}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeClick()"></button>
                </div>
                <div class="modal-body">
                    <app-add-edit-brand [brand]="brand" *ngIf="ActiveAddEditBrandComp"></app-add-edit-brand>
                </div>
            </div>
        </div>
    </div>
    <!-- begin inventory table -->
    <div class="col-md-12" style="display: flex; justify-content:center;">
        <div class="scrolling-table">
            <table class="inventory-table">
                <thead>
                    <th (click)="sort('Id')">Id&nbsp;&nbsp;<i class="fa fa-sort "></i></th>
                    <th (click)="sort('Name')">Name&nbsp;&nbsp;<i class=" fa fa-sort "></i></th>
                    <th>Action</th>
                </thead>
                <tbody>
                    <tr *ngFor="let item of BrandList | filter:searchText | orderBy: key: reverse | paginate: {itemsPerPage:10, currentPage:p};">

                        <td class="inventory-name " data-label="Name ">
                            <p>{{item.Id}}</p>
                        </td>
                        <td class="inventory-brand " data-label="Brand ">
                            <p>{{item.Name | titlecase}}</p>
                        </td>

                        <td class="inventory-action " data-label="Action ">
                            <button class="delete-btn " (click)="deleteClick(item) ">
                                <img src=" ../../assets/images/inventory-delete.svg " alt=" " />
                            </button>
                            <button class="edit-btn " data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="editClick(item) ">
                                <img src="../../assets/images/inventory-edit.svg " alt=" " />
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- end inventory table -->
    <pagination-controls class="custom-pagination" style="display: flex; justify-content: center; font-family: 'Roboto'; margin-top: 0rem; " (pageChange)="p = $event"></pagination-controls>

</div>
<!-- end -->