.inventory-page-manager {
    display: flex;
    flex-wrap: wrap;
    margin-left: 85px;
    padding: 2rem 1rem;
    flex-direction: column;
    font-weight: 700;
}

.inventory-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inventory-header .left-btns {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.inventory-header .left-btns button {
    border-radius: 1rem;
    width: 8rem;
    height: 3.5rem;
    font-size: 1rem;
    font-weight: 700;
    padding: 0px 0.75rem;
}

.inventory-header .left-btns button:nth-child(1) {
    background: #fff;
    border: 1px solid #00BFB2;
    color: #00BFB2;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.inventory-header .left-btns button:nth-child(2) {
    background: #fff;
    border: 1px solid #FE0944;
    color: #FE0944;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    display: none;
}

.inventory-header .left-btns button:nth-child(3) {
    background: #00BFB2;
    border: 1px solid #00BFB2;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.scrolling-table {
    width: 60%;
    height: 45rem;
    overflow-y: scroll;
    padding-right: 0.75rem;
    margin-top: 1rem;
    background: #F8F8F8;
    border-radius: 1rem;
    position: relative;
}

.scrolling-table::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    border-radius: 10px;
    background-color: transparent;
}

.scrolling-table::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: transparent;
}

.scrolling-table::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    background-color: #1E9AFE;
}

.inventory-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0rem 0.75rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    position: relative;
}

.inventory-table th,
.inventory-table td {
    text-align: left;
    padding: 12px 15px;
}

.inventory-table thead th {
    background: linear-gradient(135deg, #2876F9 20%, #00BFB2 60%);
    background-attachment: fixed;
    color: #fff;
    cursor: pointer;
}

.inventory-table tbody tr {
    background-color: #fff;
}

.inventory-table tbody tr td {
    padding: 1rem;
}

tr:nth-child( even) td:first-child,
tr:nth-child( odd) td:first-child {
    border-radius: 10px 0px 0px 10px;
}

tr:nth-child( even) td:last-child,
tr:nth-child( odd) td:last-child {
    border-radius: 0px 10px 10px 0px;
}

th:first-child {
    border-radius: 20px 0px 0px 0px;
    padding: 1.5rem 1rem;
}

th:last-child {
    border-radius: 0px 20px 0px 0px;
    padding: 1.5rem 1rem;
}

.inventory-sku,
.inventory-brand,
.inventory-quantity,
.inventory-unit-price {
    color: #4D4D4D;
}

.inventory-name,
.inventory-class,
.inventory-category,
.inventory-unit {
    color: #1E9AFE;
}

.inventory-name p {
    width: 4rem;
    overflow-x: scroll;
    text-overflow: clip;
    white-space: nowrap;
}

.inventory-name p::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    border-radius: 10px;
    background-color: transparent;
}

.inventory-name p::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background-color: transparent;
}

.inventory-name p::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    background-color: #1E9AFE;
}

.inventory-category p {
    width: 165px;
    overflow-x: scroll;
    text-overflow: clip;
    white-space: nowrap;
}

.inventory-category p::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    border-radius: 10px;
    background-color: transparent;
}

.inventory-category p::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background-color: transparent;
}

.inventory-category p::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    background-color: #1E9AFE;
}

.inventory-brand p {
    width: 10rem;
    overflow-x: scroll;
    text-overflow: clip;
    white-space: nowrap;
}

.inventory-brand p::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    border-radius: 10px;
    background-color: transparent;
}

.inventory-brand p::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background-color: transparent;
}

.inventory-brand p::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    background-color: #1E9AFE;
}

.inventory-action {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.inventory-table .edit-btn,
.inventory-table .delete-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    outline: none;
    border: none;
    color: white;
    font-size: 1.3rem;
    padding: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inventory-table .edit-btn img,
.inventory-table .delete-btn img {
    width: 100%;
    height: 100%;
}

.inventory-table .delete-btn {
    background: #FE0944;
}

.inventory-table .edit-btn {
    background: #1E9AFE;
}

.scrolling-table .selection {
    background: linear-gradient(90.33deg, #00BFB2 0%, #2876F9 100%);
    border-radius: 0px 0px 20px 20px;
    position: absolute;
    bottom: 0;
    height: 5rem;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 0px 1.5rem;
    display: none;
}

.scrolling-table .selection button {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #F8F8F8;
}

@media screen and (max-width: 1080px) {
    .inventory-page-manager {
        margin-left: 0px;
    }
}

@media screen and (max-width: 768px) {
    .inventory-table thead {
        display: none;
    }
    .inventory-table,
    .inventory-table tbody,
    .inventory-table tr,
    .inventory-table td {
        display: block;
        width: 100%;
    }
    .inventory-table td {
        text-align: right;
        padding-left: 50%;
        text-align: right;
        position: relative;
    }
    .inventory-table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 1rem;
        font-size: 1rem;
        text-align: left;
    }
}

.search-area {
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.search-area input {
    height: 2rem;
    width: 15rem;
    border-top-left-radius: 0.7rem;
    border-bottom-left-radius: 0.7rem;
    outline: none;
    border: 0.1rem solid #45B9D5;
    padding: 0.3rem 0.75rem;
    font-family: 'Roboto', sans-serif;
}

.search-btn {
    border: none;
    height: 2.8rem;
    width: 3rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: #EBEFF8;
    background-image: linear-gradient(225deg, #1E9AFE, #60DFCD);
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.ngx-pagination a,
.ngx-pagination button {
    color: #00BFB2;
}

.add-btn {
    width: 10rem;
    height: 4rem;
}